html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MAIN CSS */

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F8F9FA;
}

header {
  width: 100vw;
  height: 10vh;
  //background-color: #F7DF20;
  display: flex;
  align-content: center;

  nav {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    font-size: large;

    a {
      font-size: 24px;
      padding: 12px 10px;
      margin-right: 12px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: coral;
      }

      &:first-child {
        color: red;

        &:after {
          content: "";
          height: 5px;
          width: 2em;
          background-color: black;
          position: absolute;
          bottom: 0;
          left: 10px;
        }
      }
    }
  }
}

main {
  width: 60%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  margin: 0 auto;

  .Text {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 2fr 1fr;
    grid-template-rows: .2fr .5fr .2fr .2fr .1fr .5fr .2fr 1fr;
    margin: auto;
    min-height: fit-content;
    grid-gap: 10px;

    .Greetings {
      grid-column: 2/4;
      grid-row: 1/1;
      font-size: 32px;
      font-weight: lighter;
    }

    .Name {
      grid-column: 2/5;
      grid-row: 2/3;
      font-size: 42px;
      font-weight: 400;
      justify-self: start;
      align-self: center;
    }

    .NameLine {
      grid-row: 3/4;
      grid-column: 4/5;
      height: 5px;
      width: 90%;
      place-self: center end;
      background-color: black;
    }

    .Stack {
      grid-column: 2/5;
      grid-row: 4/5;
      font-size: 28px;
      font-weight: 400;
    }

    .Language {
      grid-column: 2/5;
      grid-row: 6/7;
      background-color: #F7DF20;
      padding: 24px;
      font-size: 32px;
      font-weight: bolder;
      display: grid;

      span {
        margin-right: -33px;
        justify-self: flex-end;
      }
    }

    .Description {
      grid-column: 2/-1;
      grid-row: 8;
      font-size: 38px;
      font-weight: 400;
    }
  }

  .ProfileImage {
    grid-column: 2/3;

    img {
      height: 100%;
    }
  }

  .PageSlider {
    grid-column: 3/4;
    position: relative;

    .Slider {
      height: 50%;
      width: 3px;
      margin: auto;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
